/* CSS styling for all the caveat html pages: multZPAtOrigin, positiveRealZeros*/

body {
    font-family: Helvetica, Arial, sans-serif;
    background: #f7f7f7;
}
/* Possibilities:
Alice Blue: #F0F8FF
Azure: #F0FFFF	
Beige: 	#F5F5DC	
Ghost White: #F8F8FF	
Floral White: #FFFAF0
Smoke White: #f7f7f7
Lavender Blush: #FFF0F5	
Lemon Chiffon: #FFFACD	
Light Goldenrod: #FAFAD2
x time for every color: https://en.wikipedia.org/wiki/X11_color_names	
https://www.eggradients.com/shades-of-white
Want peole to be able to tell I picked it.
mbe some font with less sharp edges than helvetica.
*/